html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
}

main {
    width: min(80vh, 90vw);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
}

main > * {
    width: 100%;
    margin: 16px;
}

canvas {
    max-height: min(80vh, 90vw);
    max-width: 100%;
    width: auto;
    flex-basis: auto;
    border: 1px solid black;
    background-color: white;
}

textarea#term {
    width: 100%;
    font-size: 1.3em;
    border: 1px solid black;
    box-sizing: border-box;
}

button#render {
    cursor: pointer;
    width: 100%;
    height: 3em;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 0;
    background-color: white;
}

select {
    border: 1px solid black;
    background-color: white;
    margin: 8px;
}

span#error {
    color: red;
}

.inputWrap {
    display: block;
    margin: 0 auto;
    width: fit-content;
}
